.homescreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.appTitle {
  color: var(--white-color);
  margin: 0 0.5em;
  font-size: 4em;
  letter-spacing: 0.25em;
}

.buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.customButton {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 1rem;

  &:hover {
    background-color: var(--dark-blue-color);
  }
}

@media (max-width: 321px) {
  .buttonBox {
    justify-content: space-between;
  }

  .customButton {
    padding: 0.25rem 0.5rem;
  }
}
